<?xml version="1.0" encoding="UTF-16"?>
<!-- This XML file has been created by Easy Java Simulations (Ejs). Visit http://www.um.es/fem/Ejs. -->
<!-- Please, save the file to your hard disk on your Ejs' user directory and open it with Ejs. -->
<Osejs version="4.3.2" password="">
<Osejs.Information>
<Title><![CDATA[Sliding down an inclined plane]]></Title>
<Author><![CDATA[Francisco Esquembre, Universidad de Murcia, Spain]]></Author>
<Keywords><![CDATA[Newton's Laws]]></Keywords>
<Password><![CDATA[]]></Password>
<Level><![CDATA[Beginner]]></Level>
<Language><![CDATA[English, Spanish]]></Language>
<Abstract><![CDATA[A block slides down an inclined plane with changing slope.
Based on an original idea by teachers of the LinAlquibla group, Instituto Alquibla, La Alberca, Murcia, SPAIN. See http://www.linalquibla.com
Finantial help by the Heareus Foundation, Germany]]></Abstract>
<ExecPassword><![CDATA[]]></ExecPassword>
<CaptureTools>false</CaptureTools>
<DataTools>false</DataTools>
<LanguageTools>true</LanguageTools>
<EmersionSupport>false</EmersionSupport>
<UseInterpreter>true</UseInterpreter>
<AdditionalLibraries>
</AdditionalLibraries>
<ImportStatements>
</ImportStatements>
<DetectedFiles><![CDATA[./SlidingDownAnInclinedPlane/FlechaDoble.gif;./SlidingDownAnInclinedPlane/block.jpg;./SlidingDownAnInclinedPlane/nonSliding.jpg;./SlidingDownAnInclinedPlane/sliding.jpg;]]></DetectedFiles>
<AuxiliaryFiles><![CDATA[./SlidingDownAnInclinedPlane/Stucco.jpg;]]></AuxiliaryFiles>
</Osejs.Information>
<Osejs.TranslationEditor>
<DesiredTranslation name="es"></DesiredTranslation>
<AddedProperty name="SIMULATION_STOPPED">
<Translation name="es"><![CDATA[La simulación está parada]]></Translation>
<Translation name="_default_"><![CDATA[Simulation stopped]]></Translation>
</AddedProperty>
</Osejs.TranslationEditor>
<Osejs.Description>
<Osejs.Description.Page>
<Type>DESCRIPTION_EDITOR</Type>
<Name>Introduction</Name>
<Active>true</Active>
<Content>
<OneHTMLPage>
  <Locale>es</Locale>
  <Title>Introducción</Title>
  <External>false</External>
  <![CDATA[
<html>
  <head>
    <style type="text/css">
      <!--
        body { color: purple; font-family: Georgia, Times New Roman, Times, serif; background-color: #C8DFD0 }
        tbody { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        #subnav { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h5 { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h4 { margin-top: 12pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        a:visited { color: purple }
        h3 { margin-top: 12pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h2 { margin-top: 16pt; margin-bottom: 2pt; padding-left: 0px }
        p { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h1 { margin-top: 12; line-height: 22px; margin-bottom: 4pt; color: #777; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; padding-left: 0px }
        blockquote { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        ul { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        ol { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        tr,td,th { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        a:link { color: blue }
        li { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        ï»¿body { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF }
        table { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        td { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        #content li { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        address { margin-top: 0; padding-top: 0; border-top: thin dotted }
      -->
    </style>
    
  </head>
  <body>
    <table>
      <tr>
        <td>
          <h2>
            Bloque que resbala por un plano inclinado
          </h2>
          <p>
            Un boque de piedra reposa sobre un plano inclinado.
          </p>
          <p>
            
          </p>
          <p>
            Inicialmente, la componente de la gravedad a lo largo de la 
            superficie del plano, Ft, est&#225; compensada por la fuerza causada 
            por la fuerza de rozamiento est&#225;tico, Fsf, que es proporcional a 
            la normal al plano, N.
          </p>
          <p>
            
          </p>
          <p>
            Sin embargo, el m&#243;dulo de esta fuerza no puede sobrepasar el valor 
            l&#237;mite de &#956;|N| (donde &#956; es el coeficiente de fricci&#243;n est&#225;tica 
            entre el bloque y el plano). Cuando el usuario aumenta la 
            pendiente del plano arrastrando la flecha doble en el extremo del 
            plano, Ft termina por superar este l&#237;mite y el bloque se desliza 
            hacia abajo a lo largo del plano.
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
        </td>
        <td>
          <img src="./SlidingDownAnInclinedPlane/nonSliding.jpg">
          
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Entonces, la fuerza causada por el rozamiento est&#225;tico se ve 
            reemplazada por una (menor) fuerza de rozamiento est&#225;tico (o 
            din&#225;mico) Fdf, dada por &#1009;|N| (done &#1009; es el coeficiente de fricci&#243;n 
            din&#225;mica entre el bloque y el plano, que es menor que el de 
            fricci&#243;n est&#225;tica, &#956;).
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
        </td>
        <td>
          <img src="./SlidingDownAnInclinedPlane/sliding.jpg">
        </td>
      </tr>
    </table>
  </body>
</html>

]]>
</OneHTMLPage>
<OneHTMLPage>
  <Locale>_default_</Locale>
  <Title>Introduction</Title>
  <External>false</External>
  <![CDATA[
<html>
  <head>
    <style type="text/css">
      <!--
        body { color: purple; font-family: Georgia, Times New Roman, Times, serif; background-color: #C8DFD0 }
        tbody { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        #subnav { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h5 { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h4 { margin-top: 12pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        a:visited { color: purple }
        h3 { margin-top: 12pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h2 { margin-top: 16pt; margin-bottom: 2pt; padding-left: 0px }
        p { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        h1 { margin-top: 12; line-height: 22px; margin-bottom: 4pt; color: #777; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; padding-left: 0px }
        blockquote { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        ul { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        ol { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        tr,td,th { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        a:link { color: blue }
        li { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        ï»¿body { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF }
        table { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        td { padding-right: 0pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; margin-right: 0pt; padding-top: 0pt; padding-left: 0pt; margin-left: 0pt }
        #content li { margin-top: 0pt; margin-bottom: 0pt; margin-right: 20px; padding-left: 10px }
        address { margin-top: 0; padding-top: 0; border-top: thin dotted }
      -->
    </style>
    
  </head>
  <body>
    <table>
      <tr>
        <td>
          <h2>
            Block sliding down an inclined plane
          </h2>
          <p>
            A stone block is lying on an inclined plane.
          </p>
          <p>
            
          </p>
          <p>
            Initially, the component of gravity along the plane surface, Ft, 
            is compensated by the force caused by static friction Fsf, which 
            is proportional to the normal to the plane, N.
          </p>
          <p>
            
          </p>
          <p>
            However, the modulus of this force cannot exceed a limit value of 
            &#956;|N| (&#956; is the static friction coefficient between the block and 
            the plane). When the user increases the slope of the plane by 
            dragging the double arrow at the plane top, Ft ends up being 
            larger than this limit and the block slides down the plane.
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
        </td>
        <td>
          <img src="./SlidingDownAnInclinedPlane/nonSliding.jpg">
          
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Then, the force caused by static friction is replaced by a 
            (smaller) force of dynamic (or kynetic) friction Fdf, given by 
            &#1009;|N| (where &#1009; is the dynamic friction coefficient between the 
            block and the plane, which is smaller then the static one, &#956;).
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
        </td>
        <td>
          <img src="./SlidingDownAnInclinedPlane/sliding.jpg">
        </td>
      </tr>
    </table>
  </body>
</html>

]]>
</OneHTMLPage>
</Content>
</Osejs.Description.Page>
</Osejs.Description>
<Osejs.Model>
<Osejs.Model.FramesPerSecond>20</Osejs.Model.FramesPerSecond>
<Osejs.Model.StepsPerDisplay>1</Osejs.Model.StepsPerDisplay>
<Osejs.Model.Autostart>true</Osejs.Model.Autostart>
<Osejs.Model.Variables>
<Osejs.Model.Variables.Page>
<Type>VARIABLE_EDITOR</Type>
<Name>Plane</Name>
<Active>true</Active>
<Content>
<PageComment><![CDATA[This page sets the plane and the reference]]></PageComment>
<Variable>
<Name><![CDATA[L]]></Name>
<Value><![CDATA[20.0]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[length of the scene in the X direction]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[maxH]]></Name>
<Value><![CDATA[L/2]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[maximum height of the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[h]]></Name>
<Value><![CDATA[2.5]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[actual height of the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[planeLength]]></Name>
<Value><![CDATA[Math.sqrt(L*L+h*h)]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[length of the surface of the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[angle]]></Name>
<Value><![CDATA[Math.atan2(h,L)]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[angle of the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[angleDegrees]]></Name>
<Value><![CDATA[angle*180/Math.PI]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[arrowPos]]></Name>
<Value><![CDATA[new double[]{-0.008115942028985579,-0.004057971014491457}]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[[2]]]></Dimension>
<Comment><![CDATA[position of the arrow that allows changing the height of the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[]]></Name>
<Value><![CDATA[]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
</Content>
</Osejs.Model.Variables.Page>
<Osejs.Model.Variables.Page>
<Type>VARIABLE_EDITOR</Type>
<Name>Block</Name>
<Active>true</Active>
<Content>
<PageComment><![CDATA[description of the block]]></PageComment>
<Variable>
<Name><![CDATA[blockSizeX]]></Name>
<Value><![CDATA[4]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[X size of the block]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[blockSizeY]]></Name>
<Value><![CDATA[2]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[Y size of the block]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[blockMass]]></Name>
<Value><![CDATA[1]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[mass of the block]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[maxPos]]></Name>
<Value><![CDATA[planeLength-blockSizeX/2]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[maximum position (along the plane) allowed for the block]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[initPos]]></Name>
<Value><![CDATA[L*0.2]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[initial position of the block (along the plane)]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[staticCoefficient]]></Name>
<Value><![CDATA[0.2]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[static friction coeffcient]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[dynamicCoefficient]]></Name>
<Value><![CDATA[0.1]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[dynamic friction coeffcient]]></Comment>
</Variable>
</Content>
</Osejs.Model.Variables.Page>
<Osejs.Model.Variables.Page>
<Type>VARIABLE_EDITOR</Type>
<Name>Dynamics</Name>
<Active>true</Active>
<Content>
<PageComment><![CDATA[]]></PageComment>
<Variable>
<Name><![CDATA[initV]]></Name>
<Value><![CDATA[0]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[t]]></Name>
<Value><![CDATA[0]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[time]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[dt]]></Name>
<Value><![CDATA[0.05]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[increment of time]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[pos]]></Name>
<Value><![CDATA[4.0]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[x position of the block along the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[y]]></Name>
<Value><![CDATA[1.0]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[y position of the block normal to the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[v]]></Name>
<Value><![CDATA[initV]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[x velocity of the block along the plane]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[gravity]]></Name>
<Value><![CDATA[9.8]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[gravity]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[weight]]></Name>
<Value><![CDATA[blockMass*gravity]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[Ft]]></Name>
<Value><![CDATA[weight*Math.sin(angle)]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[normalForce]]></Name>
<Value><![CDATA[weight*Math.cos(angle)]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[maxStaticFriction]]></Name>
<Value><![CDATA[staticCoefficient*normalForce]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[staticFriction]]></Name>
<Value><![CDATA[-Math.min(Ft,maxStaticFriction)]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[dynamicFriction]]></Name>
<Value><![CDATA[-dynamicCoefficient*normalForce]]></Value>
<Type><![CDATA[double]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[directionOfMotion]]></Name>
<Value><![CDATA[v==0 ? 0 : (v<0? -1 : 1)]]></Value>
<Type><![CDATA[int]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[0 = still , 1 going down, -1 going up]]></Comment>
</Variable>
</Content>
</Osejs.Model.Variables.Page>
<Osejs.Model.Variables.Page>
<Type>VARIABLE_EDITOR</Type>
<Name>Other</Name>
<Active>true</Active>
<Content>
<PageComment><![CDATA[]]></PageComment>
<Variable>
<Name><![CDATA[showDiagram]]></Name>
<Value><![CDATA[true]]></Value>
<Type><![CDATA[boolean]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[whether to show the diagram of forces]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[message]]></Name>
<Value><![CDATA["t = "+_format(t,"0.00")]]></Value>
<Type><![CDATA[String]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[message]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[messageTR]]></Name>
<Value><![CDATA[null]]></Value>
<Type><![CDATA[String]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[frsText]]></Name>
<Value><![CDATA["F_{re} = " + _format(-staticFriction,"0.000")     + " ($\\mu$N = " + _format(maxStaticFriction,"0.000")  + ")"]]></Value>
<Type><![CDATA[String]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
<Variable>
<Name><![CDATA[]]></Name>
<Value><![CDATA[]]></Value>
<Type><![CDATA[String]]></Type>
<Dimension><![CDATA[]]></Dimension>
<Comment><![CDATA[]]></Comment>
</Variable>
</Content>
</Osejs.Model.Variables.Page>
</Osejs.Model.Variables>
<Osejs.Model.Initialization>
<Osejs.Model.Initialization.Page>
<Type>CODE_EDITOR</Type>
<Name>Init Page</Name>
<Active>true</Active>
<Content>
<Comment><![CDATA[]]></Comment>
<Code><![CDATA[
_view.polygon2D_plane.getStyle().setPaint("./SlidingDownAnInclinedPlane/Stucco.jpg");
pos = initPos;
t = 0;
v = initV;
_view.resetTraces();



]]></Code>
</Content>
</Osejs.Model.Initialization.Page>
</Osejs.Model.Initialization>
<Osejs.Model.Evolution>
<Osejs.Model.Evolution.Page>
<Type>ODE_EDITOR</Type>
<Name>Evolution</Name>
<Active>true</Active>
<Content>
<PreliminaryCode>
<Comment><![CDATA[Code to be executed before rate equations are evaluated]]></Comment>
<Code><![CDATA[

]]></Code>
</PreliminaryCode>
<ErrorCode>
<Comment><![CDATA[]]></Comment>
<Code><![CDATA[

]]></Code>
</ErrorCode>
<IndependentVariable>t</IndependentVariable>
<Increment>dt</Increment>
<Rate state="pos">v</Rate>
<Rate state="v">totalForce(t,pos,v)/blockMass</Rate>
<Method>RungeKutta</Method>
<Tolerance></Tolerance>
<InternalStep></InternalStep>
<MaximumStep></MaximumStep>
<MaximumNumberOfSteps>10000</MaximumNumberOfSteps>
<AbsoluteTolerance></AbsoluteTolerance>
<RelativeTolerance></RelativeTolerance>
<EstimateFirstStep>false</EstimateFirstStep>
<ForceSynchronization>false</ForceSynchronization>
<UseBestInterpolation>false</UseBestInterpolation>
<EventMaximumStep></EventMaximumStep>
<DirectIncidenceMatrix><![CDATA[]]></DirectIncidenceMatrix>
<Comment><![CDATA[Differential equations of motion]]></Comment>
<Events>
<Event.Page>
<Type>EVENT_EDITOR</Type>
<Name>Motion reverse</Name>
<Active>true</Active>
<EventContent>
<EventType>STATE_EVENT</EventType>
<Method>BISECTION</Method>
<Iterations>100</Iterations>
<Tolerance><![CDATA[0.001]]></Tolerance>
<StopAtEvent>true</StopAtEvent>
<ZeroCondition><![CDATA[
if (directionOfMotion==0) return 1.0; // no event is possible
return directionOfMotion*v;
]]></ZeroCondition>
<Action><![CDATA[
v = 0;


]]></Action>
<Comment><![CDATA[Make sure the block stops before changing direction]]></Comment>
</EventContent>
</Event.Page>
<Event.Page>
<Type>EVENT_EDITOR</Type>
<Name>End of motion</Name>
<Active>true</Active>
<EventContent>
<EventType>STATE_EVENT</EventType>
<Method>BISECTION</Method>
<Iterations>100</Iterations>
<Tolerance><![CDATA[0.001]]></Tolerance>
<StopAtEvent>true</StopAtEvent>
<ZeroCondition><![CDATA[
return maxPos - pos;
]]></ZeroCondition>
<Action><![CDATA[
_pause();

]]></Action>
<Comment><![CDATA[]]></Comment>
</EventContent>
</Event.Page>
</Events>
</Content>
</Osejs.Model.Evolution.Page>
</Osejs.Model.Evolution>
<Osejs.Model.Constraints>
<Osejs.Model.Constraints.Page>
<Type>CODE_EDITOR</Type>
<Name>FixRel Page</Name>
<Active>true</Active>
<Content>
<Comment><![CDATA[]]></Comment>
<Code><![CDATA[
message = "t = "+_format(t,"0.00");
messageTR = _isPlaying() ? null : _getStringProperty("SIMULATION_STOPPED");
// In case h changes
angle = Math.atan2(h,L);
angleDegrees = angle*180/Math.PI;
planeLength = Math.sqrt(L*L+h*h);
maxPos = planeLength-blockSizeX/2;
// Forces
weight = blockMass*gravity;
Ft = weight*Math.sin(angle);
normalForce = weight*Math.cos(angle);
maxStaticFriction = normalForce*staticCoefficient;
staticFriction = -Math.min(Ft,maxStaticFriction);
dynamicFriction = -normalForce*dynamicCoefficient;
frsText = "F_{sf} = " + _format(-staticFriction,"0.000")  
  + " ($\\mu$N = " + _format(maxStaticFriction,"0.000")  + ")" ;
// current direction of motion
directionOfMotion = v==0 ? 0 : (v<0? -1 : 1);


]]></Code>
</Content>
</Osejs.Model.Constraints.Page>
</Osejs.Model.Constraints>
<Osejs.Model.Library>
<Osejs.Model.Library.Page>
<Type>LIBRARY_EDITOR</Type>
<Name>force</Name>
<Active>true</Active>
<Content>
<Comment><![CDATA[]]></Comment>
<Code><![CDATA[
public double totalForce(double time, double position, double velocity) {
  if (velocity!=0) return Ft+directionOfMotion*dynamicFriction;
  return Math.max(0,staticFriction+Ft);
}
]]></Code>
</Content>
</Osejs.Model.Library.Page>
<Osejs.Model.Library.Page>
<Type>LIBRARY_EDITOR</Type>
<Name>alert</Name>
<Active>true</Active>
<Content>
<Comment><![CDATA[]]></Comment>
<Code><![CDATA[
public void displayAlert () {
  _alert("drawingPanel","Warning",
         "The end of motion has been reached.\n"+
         "Click the reset button or drag the block to a new position\n"+
         "before clicking the play button again.");
}

  

]]></Code>
</Content>
</Osejs.Model.Library.Page>
<Osejs.Model.Library.Page>
<Type>LIBRARY_EDITOR</Type>
<Name>Languages</Name>
<Active>true</Active>
<Content>
<Comment><![CDATA[]]></Comment>
<Code><![CDATA[
public String getText (int index) {
  if (_simulation.getLocale().getLanguage().equals("es")) {
    switch (index) {
      default :
      case 0 : return "Aviso";
      case 1 : return "Se ha alcanzado el final del movimiento.\n"+
      "Pulse el botón de Posición Inicial o arrastre el bloque a una nueva posición\n"+
      "antes de pulsar nuevamente el botón de marcha.";
      case 2 : return "Simulación parada";
    }
  }

  switch (index) {
    default :
    case 0 : return "Warning";
    case 1 : return "The end of motion has been reached.\n"+
    "Click the reset button or drag the block to a new position\n"+
    "before clicking the play button again.";
    case 2 : return "Simulation stopped";
  }
}
]]></Code>
</Content>
</Osejs.Model.Library.Page>
</Osejs.Model.Library>
<Osejs.Model.Elements>
</Osejs.Model.Elements>
</Osejs.Model>
<Osejs.View>
<Osejs.View.Creation>
<Osejs.View.Creation.Element>
<Expanded>true</Expanded>
<Type>Elements.Frame</Type>
<Property name="name">frame</Property>
<Property name="_ejs_mainWindow">true</Property>
<Property name="title"><![CDATA["Sliding down an inclined plane"]]></Property>
<Property name="layout"><![CDATA[border]]></Property>
<Property name="visible"><![CDATA[true]]></Property>
<Property name="location"><![CDATA["0,22"]]></Property>
<Property name="size"><![CDATA["701,530"]]></Property>
<Translation name="es">
<PropertyTranslated name="title"><![CDATA[Resbalando por un plano inclinado]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>true</Expanded>
<Type>Elements.DrawingPanel</Type>
<Property name="name">drawingPanel</Property>
<Property name="parent">frame</Property>
<Property name="position">center</Property>
<Property name="autoscaleX"><![CDATA[false]]></Property>
<Property name="autoscaleY"><![CDATA[false]]></Property>
<Property name="minimumX"><![CDATA[-0.02*L]]></Property>
<Property name="maximumX"><![CDATA[L*1.02]]></Property>
<Property name="minimumY"><![CDATA[0]]></Property>
<Property name="maximumY"><![CDATA[maxH]]></Property>
<Property name="square"><![CDATA[true]]></Property>
<Property name="menuName"><![CDATA["Drawing panel"]]></Property>
<Property name="aliasing"><![CDATA[true]]></Property>
<Property name="showCoordinates"><![CDATA[false]]></Property>
<Property name="TLmessage"><![CDATA[%message%]]></Property>
<Property name="TRmessage"><![CDATA[%messageTR%]]></Property>
<Property name="BRmessage"><![CDATA["Change the slope of the plane, by dragging the double arrow, until the block slides"]]></Property>
<Property name="background"><![CDATA[200,220,208]]></Property>
<Translation name="es">
<PropertyTranslated name="BRmessage"><![CDATA[Cambie la inclinación del plano, usando la flecha doble, hasta que el bloque se deslice]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">group2D_referenceFrame</Property>
<Property name="parent">drawingPanel</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[h]]></Property>
<Property name="transformation"><![CDATA[-angle]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Polygon2D</Type>
<Property name="name">polygon2D_plane</Property>
<Property name="parent">group2D_referenceFrame</Property>
<Property name="xData"><![CDATA[new double[] { 0,planeLength, h*Math.sin(angle)}]]></Property>
<Property name="yData"><![CDATA[new double[] { 0, 0,-h*Math.cos(angle) }]]></Property>
<Property name="closed"><![CDATA[true]]></Property>
<Property name="fillColor"><![CDATA[GRAY]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">group2D_mobile</Property>
<Property name="parent">group2D_referenceFrame</Property>
<Property name="x"><![CDATA[pos]]></Property>
<Property name="y"><![CDATA[y]]></Property>
<Property name="sizeX"><![CDATA[1]]></Property>
<Property name="sizeY"><![CDATA[1]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Image2D</Type>
<Property name="name">image2D_block</Property>
<Property name="parent">group2D_mobile</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[blockSizeX]]></Property>
<Property name="sizeY"><![CDATA[blockSizeY]]></Property>
<Property name="visible"><![CDATA[true]]></Property>
<Property name="enabledPosition"><![CDATA[true]]></Property>
<Property name="movesGroup"><![CDATA[true]]></Property>
<Property name="sensitivity"><![CDATA[0]]></Property>
<Property name="pressAction"><![CDATA[_pause()]]></Property>
<Property name="dragAction"><![CDATA[y = blockSizeY/2;
pos = _view.group2D_mobile.getX();
if (pos<0) pos = 0;
else if (pos>maxPos) pos = maxPos;
v = 0;]]></Property>
<Property name="releaseAction"><![CDATA[_play()]]></Property>
<Property name="imageFile"><![CDATA["./SlidingDownAnInclinedPlane/block.jpg"]]></Property>
<Property name="elementposition"><![CDATA[CENTERED]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">group_FreeBodyDiagram</Property>
<Property name="parent">group2D_mobile</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[0.4]]></Property>
<Property name="sizeY"><![CDATA[0.4]]></Property>
<Property name="visible"><![CDATA[showDiagram]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupFt</Property>
<Property name="parent">group_FreeBodyDiagram</Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Segment2D</Type>
<Property name="name">segment_Ft</Property>
<Property name="parent">groupFt</Property>
<Property name="x"><![CDATA[Ft]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[0]]></Property>
<Property name="sizeY"><![CDATA[-normalForce]]></Property>
<Property name="lineColor"><![CDATA[YELLOW]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_Ft</Property>
<Property name="parent">groupFt</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[Ft]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[GRAY]]></Property>
<Property name="fillColor"><![CDATA[GRAY]]></Property>
<Property name="lineWidth"><![CDATA[3]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_Ft</Property>
<Property name="parent">groupFt</Property>
<Property name="x"><![CDATA[Ft*1.2]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["F_{t}"]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Property name="lineColor"><![CDATA[GRAY]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[F_{t}]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupFn</Property>
<Property name="parent">group_FreeBodyDiagram</Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Segment2D</Type>
<Property name="name">segment_Fn</Property>
<Property name="parent">groupFn</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[-normalForce]]></Property>
<Property name="sizeX"><![CDATA[Ft]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[YELLOW]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_Fn</Property>
<Property name="parent">groupFn</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[0]]></Property>
<Property name="sizeY"><![CDATA[-normalForce]]></Property>
<Property name="lineColor"><![CDATA[YELLOW]]></Property>
<Property name="fillColor"><![CDATA[YELLOW]]></Property>
<Property name="lineWidth"><![CDATA[1]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_Fn</Property>
<Property name="parent">groupFn</Property>
<Property name="x"><![CDATA[-0.5]]></Property>
<Property name="y"><![CDATA[-normalForce*0.5]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["F_{n}"]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[EAST]]></Property>
<Property name="lineColor"><![CDATA[YELLOW]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupGravity</Property>
<Property name="parent">group_FreeBodyDiagram</Property>
<Property name="transformation"><![CDATA[angle]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_gravity</Property>
<Property name="parent">groupGravity</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[0]]></Property>
<Property name="sizeY"><![CDATA[-weight]]></Property>
<Property name="lineColor"><![CDATA[WHITE]]></Property>
<Property name="fillColor"><![CDATA[WHITE]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_gravity</Property>
<Property name="parent">groupGravity</Property>
<Property name="x"><![CDATA[0.2]]></Property>
<Property name="y"><![CDATA[-weight/2]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["m*g"]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Property name="lineColor"><![CDATA[WHITE]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupNormal</Property>
<Property name="parent">group_FreeBodyDiagram</Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_normal</Property>
<Property name="parent">groupNormal</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[0]]></Property>
<Property name="sizeY"><![CDATA[normalForce]]></Property>
<Property name="lineColor"><![CDATA[BLACK]]></Property>
<Property name="fillColor"><![CDATA[BLACK]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_normal</Property>
<Property name="parent">groupNormal</Property>
<Property name="x"><![CDATA[0.2]]></Property>
<Property name="y"><![CDATA[normalForce/2]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["N"]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Property name="lineColor"><![CDATA[BLACK]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupStaticFriction</Property>
<Property name="parent">group_FreeBodyDiagram</Property>
<Property name="visible"><![CDATA[v==0]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_staticFriction</Property>
<Property name="parent">groupStaticFriction</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[staticFriction]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[RED]]></Property>
<Property name="fillColor"><![CDATA[RED]]></Property>
<Property name="lineWidth"><![CDATA[3]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_staticFriction</Property>
<Property name="parent">groupStaticFriction</Property>
<Property name="x"><![CDATA[1.1*staticFriction]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["F_{sf}"]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[EAST]]></Property>
<Property name="lineColor"><![CDATA[RED]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupDynamicFriction</Property>
<Property name="parent">group_FreeBodyDiagram</Property>
<Property name="visible"><![CDATA[v!=0]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_dynamicFriction</Property>
<Property name="parent">groupDynamicFriction</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[dynamicFriction]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[BLUE]]></Property>
<Property name="fillColor"><![CDATA[BLUE]]></Property>
<Property name="lineWidth"><![CDATA[3]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_dynamicFriction</Property>
<Property name="parent">groupDynamicFriction</Property>
<Property name="x"><![CDATA[1.1*dynamicFriction]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["F_{df}"]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[EAST]]></Property>
<Property name="lineColor"><![CDATA[BLUE]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Image2D</Type>
<Property name="name">image2D_Arrow</Property>
<Property name="parent">group2D_referenceFrame</Property>
<Property name="position">arrowPos</Property>
<Property name="position"><![CDATA[arrowPos]]></Property>
<Property name="trueSize"><![CDATA[true]]></Property>
<Property name="transformation"><![CDATA[angle]]></Property>
<Property name="enabledPosition"><![CDATA[true]]></Property>
<Property name="dragAction"><![CDATA[double[] pos = _view.image2D_Arrow.toSpaceFrame(new double[]{0,0});
h = Math.max(0,pos[1]);
arrowPos[0] = arrowPos[1] = 0;]]></Property>
<Property name="imageFile"><![CDATA["./SlidingDownAnInclinedPlane/FlechaDoble.gif"]]></Property>
<Property name="elementposition"><![CDATA[CENTERED]]></Property>
<Translation name="es">
<PropertyTranslated name="imageFile"><![CDATA[./SlidingDownAnInclinedPlane/FlechaDoble.gif]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>true</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupDisplay</Property>
<Property name="parent">drawingPanel</Property>
<Property name="x"><![CDATA[L/2]]></Property>
<Property name="y"><![CDATA[maxH*0.9]]></Property>
<Property name="sizeX"><![CDATA[0.4]]></Property>
<Property name="sizeY"><![CDATA[0.4]]></Property>
<Property name="visible"><![CDATA[showDiagram]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">textLabel</Property>
<Property name="parent">groupDisplay</Property>
<Property name="y"><![CDATA[L/10]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["Comparison of forces"]]></Property>
<Property name="font"><![CDATA[Dialog,BOLD,22]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[Comparación de fuerzas]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>true</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupFt2</Property>
<Property name="parent">groupDisplay</Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_Ft2</Property>
<Property name="parent">groupFt2</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[Ft]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[GRAY]]></Property>
<Property name="fillColor"><![CDATA[GRAY]]></Property>
<Property name="lineWidth"><![CDATA[3]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_Ft2</Property>
<Property name="parent">groupFt2</Property>
<Property name="x"><![CDATA[Ft*1.4]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["F_{t} = "+_format(Ft,"0.000")]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Property name="lineColor"><![CDATA[GRAY]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA["F_{t} = "+_format(Ft,"0.000")]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupStaticFriction2</Property>
<Property name="parent">groupDisplay</Property>
<Property name="y"><![CDATA[-L/10]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_staticFriction2</Property>
<Property name="parent">groupStaticFriction2</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[-staticFriction]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[RED]]></Property>
<Property name="fillColor"><![CDATA[RED]]></Property>
<Property name="lineWidth"><![CDATA[3]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_staticFriction2</Property>
<Property name="parent">groupStaticFriction2</Property>
<Property name="x"><![CDATA[-1.2*staticFriction]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA[%frsText%]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Property name="lineColor"><![CDATA[RED]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Group2D</Type>
<Property name="name">groupDynamicFriction2</Property>
<Property name="parent">groupDisplay</Property>
<Property name="y"><![CDATA[-2*L/10]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Arrow2D</Type>
<Property name="name">arrow_dynamicFriction2</Property>
<Property name="parent">groupDynamicFriction2</Property>
<Property name="x"><![CDATA[0]]></Property>
<Property name="y"><![CDATA[0]]></Property>
<Property name="sizeX"><![CDATA[-dynamicFriction]]></Property>
<Property name="sizeY"><![CDATA[0]]></Property>
<Property name="lineColor"><![CDATA[BLUE]]></Property>
<Property name="fillColor"><![CDATA[BLUE]]></Property>
<Property name="lineWidth"><![CDATA[3]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Text2D</Type>
<Property name="name">text_dynamicFriction2</Property>
<Property name="parent">groupDynamicFriction2</Property>
<Property name="x"><![CDATA[-1.4*dynamicFriction]]></Property>
<Property name="pixelSize"><![CDATA[true]]></Property>
<Property name="text"><![CDATA["F_{df} = "+_format(-dynamicFriction,"0.000")]]></Property>
<Property name="font"><![CDATA[Monospaced,BOLD,16]]></Property>
<Property name="elementposition"><![CDATA[WEST]]></Property>
<Property name="lineColor"><![CDATA[BLUE]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA["F_{df} = "+_format(-dynamicFriction,"0.000")]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>true</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">bottomPanel</Property>
<Property name="parent">frame</Property>
<Property name="position">south</Property>
<Property name="layout"><![CDATA[border]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>true</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">controlPanel</Property>
<Property name="parent">bottomPanel</Property>
<Property name="position">north</Property>
<Property name="layout"><![CDATA[FLOW:center,5,0]]></Property>
<Property name="border"><![CDATA[5,0,5,0]]></Property>
<Property name="borderType"><![CDATA[EMPTY]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.TwoStateButton</Type>
<Property name="name">twoStateButton</Property>
<Property name="parent">controlPanel</Property>
<Property name="variable"><![CDATA[_isPaused]]></Property>
<Property name="tooltip"><![CDATA["Play/Pause"]]></Property>
<Property name="imageOn"><![CDATA[/org/opensourcephysics/resources/controls/images/play.gif]]></Property>
<Property name="actionOn"><![CDATA[if (pos<maxPos) _play();
else displayAlert();]]></Property>
<Property name="imageOff"><![CDATA[/org/opensourcephysics/resources/controls/images/pause.gif]]></Property>
<Property name="actionOff"><![CDATA[_pause()]]></Property>
<Translation name="es">
<PropertyTranslated name="tooltip"><![CDATA[Pone en marcha/Pausa la simulación]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Button</Type>
<Property name="name">stepButton</Property>
<Property name="parent">controlPanel</Property>
<Property name="image"><![CDATA[/org/opensourcephysics/resources/controls/images/step.gif]]></Property>
<Property name="action"><![CDATA[if (pos<maxPos) _step();
else displayAlert();]]></Property>
<Property name="tooltip"><![CDATA["Step"]]></Property>
<Translation name="es">
<PropertyTranslated name="tooltip"><![CDATA[Avanza un paso la simulación]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Button</Type>
<Property name="name">resetButton</Property>
<Property name="parent">controlPanel</Property>
<Property name="image"><![CDATA[/org/opensourcephysics/resources/controls/images/reset.gif]]></Property>
<Property name="action"><![CDATA[_initialize()]]></Property>
<Property name="tooltip"><![CDATA["Initial position"]]></Property>
<Translation name="es">
<PropertyTranslated name="image"><![CDATA[/org/opensourcephysics/resources/controls/images/reset.gif]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.CheckBox</Type>
<Property name="name">showDiagram</Property>
<Property name="parent">controlPanel</Property>
<Property name="variable"><![CDATA[showDiagram]]></Property>
<Property name="text"><![CDATA["Show forces"]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[Mostrar fuerzas]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">lowerPanel</Property>
<Property name="parent">bottomPanel</Property>
<Property name="position">center</Property>
<Property name="layout"><![CDATA[GRID:0,1,0,0]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">fieldsPanel1</Property>
<Property name="parent">lowerPanel</Property>
<Property name="position">south</Property>
<Property name="layout"><![CDATA[GRID:1,0,0,0]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">posPanel</Property>
<Property name="parent">fieldsPanel1</Property>
<Property name="layout"><![CDATA[border]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Label</Type>
<Property name="name">posLabel</Property>
<Property name="parent">posPanel</Property>
<Property name="position">west</Property>
<Property name="text"><![CDATA[" Position = "]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[ Posición = ]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.ParsedField</Type>
<Property name="name">posField</Property>
<Property name="parent">posPanel</Property>
<Property name="position">center</Property>
<Property name="variable"><![CDATA[pos]]></Property>
<Property name="columns"><![CDATA[4]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">vPanel</Property>
<Property name="parent">fieldsPanel1</Property>
<Property name="layout"><![CDATA[border]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Label</Type>
<Property name="name">vLabel</Property>
<Property name="parent">vPanel</Property>
<Property name="position">west</Property>
<Property name="text"><![CDATA[" Speed = "]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[ Celeridad = ]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.ParsedField</Type>
<Property name="name">vField</Property>
<Property name="parent">vPanel</Property>
<Property name="position">center</Property>
<Property name="variable"><![CDATA[v]]></Property>
<Property name="columns"><![CDATA[4]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">anglePanel</Property>
<Property name="parent">fieldsPanel1</Property>
<Property name="layout"><![CDATA[border]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Label</Type>
<Property name="name">angleLabel</Property>
<Property name="parent">anglePanel</Property>
<Property name="position">west</Property>
<Property name="text"><![CDATA[" Inclination (degrees) = "]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[ Inclinación (grados) = ]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.ParsedField</Type>
<Property name="name">angleField</Property>
<Property name="parent">anglePanel</Property>
<Property name="position">center</Property>
<Property name="variable"><![CDATA[angleDegrees]]></Property>
<Property name="format"><![CDATA["0.##"]]></Property>
<Property name="action"><![CDATA[h = L * Math.tan(angleDegrees*Math.PI/180);]]></Property>
<Property name="columns"><![CDATA[4]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">fieldsPanel2</Property>
<Property name="parent">lowerPanel</Property>
<Property name="layout"><![CDATA[GRID:1,0,0,0]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">scPanel</Property>
<Property name="parent">fieldsPanel2</Property>
<Property name="layout"><![CDATA[border]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Label</Type>
<Property name="name">scLabel</Property>
<Property name="parent">scPanel</Property>
<Property name="position">west</Property>
<Property name="text"><![CDATA[" Static friction coefficient = "]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[ Coeficiente fricción estática = ]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.ParsedField</Type>
<Property name="name">scField</Property>
<Property name="parent">scPanel</Property>
<Property name="position">center</Property>
<Property name="variable"><![CDATA[staticCoefficient]]></Property>
<Property name="columns"><![CDATA[4]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Expanded>false</Expanded>
<Type>Elements.Panel</Type>
<Property name="name">dcPanel</Property>
<Property name="parent">fieldsPanel2</Property>
<Property name="layout"><![CDATA[border]]></Property>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.Label</Type>
<Property name="name">dfcLabel</Property>
<Property name="parent">dcPanel</Property>
<Property name="position">west</Property>
<Property name="text"><![CDATA[" Dynamic friction coefficient = "]]></Property>
<Translation name="es">
<PropertyTranslated name="text"><![CDATA[ Coeficiente de fricción dinámica =]]></PropertyTranslated>
</Translation>
</Osejs.View.Creation.Element>
<Osejs.View.Creation.Element>
<Type>Elements.ParsedField</Type>
<Property name="name">dcField</Property>
<Property name="parent">dcPanel</Property>
<Property name="position">center</Property>
<Property name="variable"><![CDATA[dynamicCoefficient]]></Property>
<Property name="columns"><![CDATA[4]]></Property>
</Osejs.View.Creation.Element>
</Osejs.View.Creation>
</Osejs.View>
<Osejs.Experiment>
</Osejs.Experiment>
</Osejs>
